!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html">
          <img src="images/logo.svg" class="mr-2" alt="logo"/>
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <i class="fa fa-wpexplorer" aria-hidden="true" style="font-size: larger;"> Scholarship Finder</i>
            </a>
            
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li> 
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            
          </div>
         
        </div>
      </div>
     
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="fa fa-search"></i>
              <span class="menu-title"style="margin-left: 10px;"> Search</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">  <a class="nav-link" href="./pages/ScholarshipSearchResults.html">
                  <i class="ti-settings text-primary"></i>
                  Scholarship Search
                </a></li>
                <li class="nav-item"> <div class=aria-labelledby="profileDropdown">
                 
                  <a class="nav-link" href="../html/searchScholarship.html" >
                    Custom Search
                  </a>
                </div></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="../html/login.html">
              <i class="ti-power-off text-primary" ></i>
              <span class="menu-title" style="margin-left: 10px;"> Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel" >
        <div class="content-wrapper" style="  background-color:#ffce99;
        background-image:
        radial-gradient(at 23% 78%, #ba90e9 0px, transparent 50%),
        radial-gradient(at 49% 87%, hsla(21,61%,73%,1) 0px, transparent 50%),
        radial-gradient(at 84% 49%, hsla(11,82%,69%,1) 0px, transparent 50%);">
          <div class="row">
            <div class="col-md-12 grid-margin" >
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome Aamir</h3>
                  <h6 class="font-weight-normal mb-0">Search for<span class="text-primary"> Scholarship Opportunitites</span> starting today!</h6>
                </div>
                 <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex"> 
                </div>
              </div> 
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Popular Scholarship Opportunities To Apply For!</p>
                  <a href="https://www.american.edu/admissions/international/"><h5 class="font-weight-500">American University Scholarships</h5></a>
                  <p> No need-based financial aid is available to international students. The merit scholarship range from U.S.$6,000 to U.S.$25,000 per academic year (renewable subject to conditions).</p>
                  <a href="https://www.scholars4dev.com/19260/clark-global-scholarship-program/"><h5 class="font-weight-500">Clark University Scholarships</h5></a>
                  <p> A scholarship of $15,000 to $25,000 per year (for four years, contingent upon meeting academic standards for renewal) and a guaranteed $2,500 taxable stipend for a paid internship or research assistantship taken for academic credit during the summer following your sophomore or junior year is included with the award.</p>
                  <a href="https://www.scholars4dev.com/25841/illinois-wesleyan-university-international-students-scholarships/"><h5 class="font-weight-500">Illinois Wesleyan University Scholarships</h5></a>
                  <p>Illinois Wesleyan University (IWU) is making available the Merit-Based Scholarships, President’s Scholarships and Need-Based Financial Aid to international students who are applying to enter the first year of Bachelors programs offered by the University. In addition to merit scholarships, students may be eligible for IWU-funded scholarships, loans, and campus-employment opportunities.</p>
                  <a href="www.admissions.iastate.edu/intl/ambassador_scholarships.php"><h5 class="font-weight-500">Iowa State University International Merit Scholarships</h5></a>
                  <p>International freshmen will be considered for a limited number of merit scholarships. Scholarship selection is competitive based on a holistic review of SAT or ACT scores and high school marks/grades.  The awards range from $2,000 to $10,000 and are renewable.</p>
                  <a href="https://www.ccis.edu/tuition-financial-aid/scholarships"><h5 class="font-weight-500">Columbia College Scholarships</h5></a>
                  <p>Columbia College offers scholarships and awards to outstanding international students. The awards are one time cash grants or 15%- 100% tuition reduction.</p>
                  <a href="https://apply.emory.edu/apply/international-applicants.html"><h5 class="font-weight-500">Emory College Scholarships</h5></a>
                  <p>Emory College offers need-based financial aid awards to a select group of international students each year. As well, international applicants are encouraged to apply for partial to full merit-based scholarships through the Emory University Scholars Program</p>
                  <div class="d-flex flex-wrap mb-5" style="justify-content: center; align-items: center;">
                    <div class="mr-5 mt-3" style="text-align: center;" >
                      <p class="text-muted">Average Scholarship Per Year</p>
                      <h3 class="text-primary fs-30 font-weight-medium">$15k-$30k</h3>
                    </div>
                    <div class="mr-5 mt-3" style="text-align: center;">
                      <p class="text-muted">Criteria</p>
                      <h3 class="text-primary fs-30 font-weight-medium">Merit Based</h3>
                    </div>
                    <div class="mr-5 mt-3" style="text-align: center;">
                      <p class="text-muted">Degrees</p>
                      <h3 class="text-primary fs-30 font-weight-medium">Undergraduates & Postgraduates</h3>
                    </div>    
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card" style="height:fit-content">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Today's Quote!</p>
                   </div>
                  <h4 class="today_quote"></h4>
                  Here's a quote for you to ponder on!
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 mt-3">
                            <p class="card-title" style="margin-top: 20px;">Consider These Countries Based On</p>
                              
                              <div>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">Learning Environments</h3>
                              <p class="mb-2 mb-xl-0">There are alot of factors which could affect an international students learning experience. After various research carried out, these are some of the best countries to study in as an international student.</p>
                            </div>  
                            </div>
                          </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                          <div class="table-responsive mb-3 mb-md-0 mt-3">
                            <table class="table table-borderless report-table">
                              <tr>
                                <td class="text-muted">Canada</td>
                                <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                  </td>
                  <td><h5 class="font-weight-bold mb-0">1st</h5></td>
                </tr>
                <tr>
                  <td class="text-muted">The United Kingdom</td>
                  <td class="w-100 px-0">
                    <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                  </td>
                  <td><h5 class="font-weight-bold mb-0">2nd</h5></td>
                </tr>
                <tr>
                  <td class="text-muted">The United States</td>
                  <td class="w-100 px-0">
                    <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                </td>
                <td><h5 class="font-weight-bold mb-0">3rd</h5></td>
              </tr>
              <tr>
                <td class="text-muted">Australia</td>
                <td class="w-100 px-0">
                  <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
            </td>
            <td><h5 class="font-weight-bold mb-0">4th</h5></td>
          </tr>
          <tr>
            <td class="text-muted">New Zealand</td>
            <td class="w-100 px-0">
              <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                  </td>
                  <td><h5 class="font-weight-bold mb-0">5th</h5></td>
                </tr>
                <tr>
                  <td class="text-muted">Germany</td>
                  <td class="w-100 px-0">
                    <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                  </td>
                  <td><h5 class="font-weight-bold mb-0">6th</h5></td>
                </tr>
              </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                <div class="ml-xl-4 mt-3">
                <p class="card-title">Master Degrees</p>
                  <h3 class="font-weight-500 mb-xl-4 text-primary">Affordable Universities for International Students</h3>
                  <p class="mb-2 mb-xl-0">These Universities are located in the UK, USA and Canada.</p>
                </div>  
                </div>
              <div class="col-md-12 col-xl-9">
                <div class="row">
                  <div class="col-md-6 border-right">
                    <div class="table-responsive mb-3 mb-md-0 mt-3">
                      <table class="table table-borderless report-table">
                        <tr>
                          <td class="text-muted">University of Montreal</td>
                          <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
              </td>
              <td><h5 class="font-weight-bold mb-0">$16k-$17k</h5></td>
            </tr>
            <tr>
              <td class="text-muted">University of British Columbia</td>
              <td class="w-100 px-0">
                <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
          </td>
          <td><h5 class="font-weight-bold mb-0">$8k-$9k</h5></td>
        </tr>
        <tr>
          <td class="text-muted">University of Toronto</td>
          <td class="w-100 px-0">
            <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
        </td>
        <td><h5 class="font-weight-bold mb-0">$7k-$23k</h5></td>
      </tr>
      <tr>
        <td class="text-muted">Brandon University</td>
        <td class="w-100 px-0">
          <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
      </td>
      <td><h5 class="font-weight-bold mb-0">$7k-$8k</h5></td>
    </tr>
    <tr>
      <td class="text-muted">University of Chester </td>
      <td class="w-100 px-0">
        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
      </td>
      <td><h5 class="font-weight-bold mb-0">$9k-$10k</h5></td>
    </tr>
    <tr>
      <td class="text-muted">University of Stirling</td>
      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
              </td>
              <td><h5 class="font-weight-bold mb-0">$15k-$18k</h5></td>
            </tr>
            <tr>
              <td class="text-muted">Memorial University of Newfoundland</td>
              <td class="w-100 px-0">
                <div class="progress progress-md mx-4">
                                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
  </td>
      <td><h5 class="font-weight-bold mb-0">$3k-$4k</h5></td>
      </tr>
    <tr>
          <td class="text-muted"> Alcorn State University </td>
          <td class="w-100 px-0">
          <div class="progress progress-md mx-4">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                                    </div>
                      </td>
      </td>
      <td><h5 class="font-weight-bold mb-0">$3k-$4k</h5></td>
      </tr>
    <tr>
          <td class="text-muted">University of Saskatchewan</td>
          <td class="w-100 px-0">
          <div class="progress progress-md mx-4">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                                   </td>

                    </td>
                    <td><h5 class="font-weight-bold mb-0">$3k-$4k</h5></td>
                    </tr>
                  <tr>
                        <td class="text-muted">  Simon Fraser University</td>
                        <td class="w-100 px-0">
                        <div class="progress progress-md mx-4">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                                                  </div>
                                    </td>

                      <td><h5 class="font-weight-bold mb-0">$7k-$8k</h5></td>
                    </tr>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

            <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">To Do Lists</h4>
            <div class="list-wrapper pt-2">
              <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                <li>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Organize your tasks with our To Do List Feature
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
								</ul>
                  <div class="add-items d-flex mb-0 mt-2">
										<input type="text" class="form-control todo-list-input"  placeholder="Add new task">
										<button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="icon-circle-plus"></i></button>
									</div>
								</div>
							</div>
          
            </div>
              </div>
            </div>
            <footer>
              <div class="row">
                  <div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
                      <hr>
                      <ul class="social-icon" style="background-color: transparent;color:black;">
                          <li><a href="https://www.linkedin.com/in/anthony-okeh-292455236?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BXwCkgKo0TcOBWT6j7XqjYg%3D%3D" class="fa fa-linkedin-square"></a></li>
                          <li><a href="https://github.com/Okeha" class="fa fa-github"></a></li>
                          <li><a href="https://twitter.com/WeDieHereLasLas" class="fa fa-twitter"></a></li>
                          <li><a href="https://www.instagram.com/okeh.a/?hl=en" class="fa fa-instagram"></a></li>
                      </ul>
                  </div>
              </div>
      </footer>
        </div>
      
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
         <!-- start footer -->   
         
         
         <!-- end footer -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

